<%- include('partials/header') %>
<div class="container">
   <div class="card text-center">
      <div class="card-header">
         <%=tg%>
      </div>
      <div class="card-body">
         <h5 class="card-title"><%=tg%></h5>
         <p class="card-text"><%=tg%>
         </p>
      </div>
      <div class="card-footer text-muted">
         Published at: <%=tg%>
      </div>
   </div>
</div>
<%- include('partials/footer') %>