<%- include('partials/header') %>
<br>
<div class="container">
   <% for(element of tpostByTag) { %>
   <div class="card text-center">
      <div class="card-header">
         <%=tg%>
      </div>
      <div class="card-body">
         <h5 class="card-title"><a href="/wall/<%=element._id%>"><%=element.title%></a></h5>
         <p class="card-text"><%=element.tpostBody%>
         </p>
      </div>
      <div class="card-footer text-muted">
         Published at: <%=element.date%>
      </div>
   </div>
         <br>

<% } %>
</div>
<%- include('partials/footer') %>
